/* General styles for both pages */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

p {
    color: #555;
    margin-bottom: 20px;
}

ul {
    text-align: left;
    list-style-type: disc;
    margin: 0;
    padding-left: 20px;
    color: #555;
}

li {
    margin-bottom: 10px;
}

/* Styles for the container */
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#video {
    width: 100%;
    border: 2px solid #007BFF;
    border-radius: 5px;
}

#canvas {
    width: 100%;
    border: 2px solid #007BFF;
    border-radius: 5px;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}